<%= content_for :body_onload do %>
  $('#site_context_select').change(function(){
    if($(this).val()!='')
      $(this).parents('form').submit();
  });
<% end %>

<div class="block" id="block-text">
  <div class="content">
    <h2 class="title">Dashboard</h2>
    <div class="inner">
      <p>
        <%= t('.welcome_text') %>
      </p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>