<div class="block notice">
  <h3></h3>
  <ul class="navigation" id="pages">
    <li><%= link_to t('.manage_users'), admin_users_path %></li>
    <li><%= link_to t('.manage_inquiry_forms'), admin_inquiry_forms_path %></li>
    <li><%= link_to t('.manage_page_types'), admin_page_types_path %></li>
  </ul>
</div>
